<header class="app-header">
  <h1>My notes</h1>

  <div class="icon-list">
    <!-- Theme Toggle -->
    <button class="btn place-items-center" id="theme-toggle-btn" (click)="toggleTheme()">
      <i *ngIf="!isLightTheme" class="ri-sun-line"></i>
      <i *ngIf="isLightTheme" class="ri-moon-line"></i>
    </button>

    <!--Menu Toggle -->
    <button class="btn place-items-center screen-lg-hidden menu-icon" id="menu-icon" (click)="toggleMenu()">
      <i *ngIf="!isMenuActive" class="ri-menu-line open-menu-icon"></i>
      <i *ngIf="isMenuActive" class="ri-close-line close-menu-icon"></i>
    </button>
  </div>

  <!-- Dropdown Menu -->
  <ul class="menu-list" *ngIf="isMenuActive">
    <li class="list-item screen-lg-hidden"><a href="/signin" class="list-link">Sign in</a></li>
    <li class="list-item screen-lg-hidden"><a href="/signup" class="list-link">Sign up</a></li>
    <li class="list-item screen-lg-hidden"><a href="/home" class="list-link">Home</a></li>    
      <li class="list-item screen-lg-hidden"><a href="/create_note" class="list-link">Create</a></li> 
  </ul>
</header>

<router-outlet></router-outlet>
