/* Header styling */
.app-header {
  background: transparent !important;
  box-shadow: none !important;
  border: none;
  color: var(--light-color);
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.light-theme .app-header {
  background: none;
  border-bottom: transparent;
}
/* Icon area (theme + menu icons) */
.icon-list {
  display: flex;
  gap: 18px;
}

.btn {
  background: none;
  border: none;
  color: var(--light-color);
  font-size: 24px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
  border: none;
}
/* Menu icon (visible only on small screens) */
.menu-icon {
  display: none;
}

.screen-lg-hidden {
  display: none;
}

/* Show menu icon on small screens */

  .menu-icon {
    display: block;
  }

  .screen-lg-hidden {
    display: block;
  }

/* Dropdown Menu */
.menu-list {
  position: absolute;
  right: 20px;
  top: calc(100% + 6px); /* Position below header */
  background:var(--dropdown-bg);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 0px;
  min-width: 150px;
  z-index: 9999;
  background: var(--dropdown-bg);
  color: var(--dropdown-text);
  box-shadow: 0 4px 14px var(--shadow-color);
  border: 1px solid var(--shadow-color);
}

.menu-list .list-item {
  color: --(dropdown-text);
  font-size: 22px;
  padding: 10px 20px;
}

.menu-list .list-item:hover {
  background: var(--scroll);
}

.list-link {
  color: var(--light-color);
  text-decoration: none;
}

/* Theme handling */
.light-theme .ri-sun-line {
  display: none;
}
.dark-theme .ri-moon-line {
  display: none;
}
