.home {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-background-color); /* uses theme variable */
    color: var(--text-color, var(--light-color)); /* fallback to light color if not defined */
    padding-top: 80px; /* Account for fixed header */
     transition: transform 0.7s ease-in-out;
}

.home h1 {
    align-items: center;
    font-size: 55px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 120px;
}

.home h2 {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 40px;
}
.home.slide-up {
  transform: translateY(-100%);
}

/* Make H2 look clickable */
.clickable-text {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable-text:hover {
  transform: scale(1.05);
}
/*.create-btn {
    font-size: 28px;
    background-color: transparent;
    border: none;
    color: var(--text-color, white);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
.create-btn:hover {
    transform: scale(1.3);
    color: var(--highlight-color, #fed800);
}
}*/

